@media screen and (max-width: 768px) {
  .nav-links a {
    display: none;
    transition: all 0.3s linear;
  }
  .nav-links i {
    display: block;
  }
  .nav {
    /* background-color: yellow; */
  }
  .container {
    background-color: #fff;
    box-shadow:1px 1px 10px #00000051 ;
  }
}
@media screen and (min-width: 768px) {
  .nav-links i {
    display: none;
  }
}
